@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "tailwind-zag";

@layer base {
	button,
	[role="button"],
	[type="button"],
	[type="submit"] {
		cursor: pointer;
	}

	:disabled,
	[data-disabled] {
		cursor: not-allowed;
	}

	::placeholder,
	[data-placeholder-shown] {
		color: var(--color-neutral-400);
	}

	*,
	*::after,
	*::before {
		border-color: var(--color-neutral-800);
	}
}

@theme {
	--font-*: initial;
	--font-body:
		"Google Sans Flex", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
	--font-mono: "Fira Code", monospace;

	--z-dropdown: 1000;
	--z-sticky: 1100;
	--z-banner: 1200;
	--z-backdrop: 1300;
	--z-drawer: 1400;
	--z-dialog: 1500;
	--z-popover: 1600;
	--z-toast: 1700;
	--z-tooltip: 1800;

	--animate-fade-in: fade-in 400ms cubic-bezier(0.05, 0.7, 0.1, 1);
	--animate-fade-out: fade-out 250ms cubic-bezier(0.3, 0, 0.8, 0.15);
	--animate-backdrop-in: fade-in 400ms cubic-bezier(0.05, 0.7, 0.1, 1);
	--animate-backdrop-out: fade-out 250ms cubic-bezier(0.3, 0, 0.8, 0.15);
	--animate-dialog-in: dialog-in 400ms cubic-bezier(0.05, 0.7, 0.1, 1);
	--animate-dialog-out: dialog-out 250ms cubic-bezier(0.3, 0, 0.8, 0.15);
	--animate-drawer-in-left: drawer-in-left 400ms cubic-bezier(0.05, 0.7, 0.1, 1);
	--animate-drawer-out-left: drawer-out-left 250ms
		cubic-bezier(0.3, 0, 0.8, 0.15);
	--animate-drawer-in-right: drawer-in-right 400ms
		cubic-bezier(0.05, 0.7, 0.1, 1);
	--animate-drawer-out-right: drawer-out-right 250ms
		cubic-bezier(0.3, 0, 0.8, 0.15);
	--animate-popover-in-bottom: popover-in-bottom 400ms
		cubic-bezier(0.05, 0.7, 0.1, 1);
	--animate-popover-out-bottom: popover-out-bottom 250ms
		cubic-bezier(0.3, 0, 0.8, 0.15);
	--animate-popover-in-top: popover-in-top 400ms cubic-bezier(0.05, 0.7, 0.1, 1);
	--animate-popover-out-top: popover-out-top 250ms
		cubic-bezier(0.3, 0, 0.8, 0.15);
	--animate-popover-in-left: popover-in-left 400ms
		cubic-bezier(0.05, 0.7, 0.1, 1);
	--animate-popover-out-left: popover-out-left 250ms
		cubic-bezier(0.3, 0, 0.8, 0.15);
	--animate-popover-in-right: popover-in-right 400ms
		cubic-bezier(0.05, 0.7, 0.1, 1);
	--animate-popover-out-right: popover-out-right 250ms
		cubic-bezier(0.3, 0, 0.8, 0.15);
	--animate-slide-in-left: slide-in-left 400ms cubic-bezier(0.05, 0.7, 0.1, 1);
	--animate-slide-out-left: slide-out-left 250ms cubic-bezier(0.3, 0, 0.8, 0.15);
	--animate-slide-in-right: slide-in-right 400ms cubic-bezier(0.05, 0.7, 0.1, 1);
	--animate-slide-out-right: slide-out-right 250ms
		cubic-bezier(0.3, 0, 0.8, 0.15);
	--animate-slide-in-down: slide-in-down 400ms cubic-bezier(0.05, 0.7, 0.1, 1);
	--animate-slide-out-down: slide-out-down 250ms cubic-bezier(0.3, 0, 0.8, 0.15);
	--animate-scale-in: scale-in 400ms cubic-bezier(0.05, 0.7, 0.1, 1);
	--animate-scale-out: scale-out 250ms cubic-bezier(0.3, 0, 0.8, 0.15);
	--animate-collapse-in: collapse-in 400ms cubic-bezier(0.05, 0.7, 0.1, 1);
	--animate-collapse-out: collapse-out 200ms cubic-bezier(0.3, 0, 0.8, 0.15);
	--animate-collapse-x-in: collapse-x-in 400ms ease-in-out;
	--animate-collapse-x-out: collapse-x-out 200ms ease-in-out;

	@keyframes fade-in {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	@keyframes fade-out {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}

	@keyframes dialog-in {
		from {
			opacity: 0;
			transform: translateY(4rem);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	@keyframes dialog-out {
		from {
			opacity: 1;
			transform: translateY(0);
		}
		to {
			opacity: 0;
			transform: translateY(4rem);
		}
	}

	@keyframes drawer-in-left {
		from {
			transform: translateX(-100%);
		}
		to {
			transform: translateX(0);
		}
	}

	@keyframes drawer-out-left {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(-100%);
		}
	}

	@keyframes drawer-in-right {
		from {
			transform: translateX(100%);
		}
		to {
			transform: translateX(0);
		}
	}

	@keyframes drawer-out-right {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(100%);
		}
	}

	@keyframes popover-in-bottom {
		from {
			opacity: 0.25;
			transform: translateY(0.5rem);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	@keyframes popover-out-bottom {
		from {
			opacity: 1;
			transform: translateY(0);
		}
		to {
			opacity: 0.25;
			transform: translateY(0.5rem);
		}
	}

	@keyframes popover-in-top {
		from {
			opacity: 0.25;
			transform: translateY(-0.5rem);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	@keyframes popover-out-top {
		from {
			opacity: 1;
			transform: translateY(0);
		}
		to {
			opacity: 0.25;
			transform: translateY(-0.5rem);
		}
	}

	@keyframes popover-in-left {
		from {
			opacity: 0.25;
			transform: translateX(-0.5rem);
		}
		to {
			opacity: 1;
			transform: translateX(0);
		}
	}

	@keyframes popover-out-left {
		from {
			opacity: 1;
			transform: translateX(0);
		}
		to {
			opacity: 0.25;
			transform: translateX(-0.5rem);
		}
	}

	@keyframes popover-in-right {
		from {
			opacity: 0.25;
			transform: translateX(0.5rem);
		}
		to {
			opacity: 1;
			transform: translateX(0);
		}
	}

	@keyframes popover-out-right {
		from {
			opacity: 1;
			transform: translateX(0);
		}
		to {
			opacity: 0.25;
			transform: translateX(0.5rem);
		}
	}

	@keyframes collapse-in {
		from {
			height: var(--collapsed-height, 0);
			opacity: 5;
		}
		to {
			height: var(--height);
			opacity: 1;
		}
	}

	@keyframes collapse-out {
		from {
			height: var(--height);
			opacity: 1;
		}
		to {
			height: var(--collapsed-height, 0);
			opacity: 5;
		}
	}

	@keyframes collapse-x-in {
		from {
			width: var(--collapsed-width, 0);
			opacity: 5;
		}
		to {
			width: var(--width);
			opacity: 1;
		}
	}

	@keyframes collapse-x-out {
		from {
			width: var(--width);
			opacity: 1;
		}
		to {
			width: var(--collapsed-width, 0);
			opacity: 5;
		}
	}

	@keyframes slide-in-left {
		from {
			transform: translateX(-100%);
		}
		to {
			transform: translateX(0);
		}
	}

	@keyframes slide-out-left {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(-100%);
		}
	}

	@keyframes slide-in-right {
		from {
			transform: translateX(100%);
		}
		to {
			transform: translateX(0);
		}
	}

	@keyframes slide-out-right {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(100%);
		}
	}

	@keyframes slide-in-down {
		from {
			transform: translateY(-100%);
		}
		to {
			transform: translateY(0);
		}
	}

	@keyframes slide-out-down {
		from {
			transform: translateY(0);
		}
		to {
			transform: translateY(-100%);
		}
	}

	@keyframes scale-in {
		from {
			transform: scale(0.85);
			opacity: 0;
		}
		to {
			transform: scale(1);
			opacity: 1;
		}
	}

	@keyframes scale-out {
		from {
			transform: scale(1);
			opacity: 1;
		}
		to {
			transform: scale(0.85);
			opacity: 0;
		}
	}
}

@utility z-* {
	z-index: --value(--z-\*, integer);
}

@utility arrow-bg-* {
	--arrow-background: --value(--color-\*, [color]);
}

@utility arrow-size-* {
	--arrow-size: calc(var(--spacing) * --value(integer));
	--arrow-size: --value([\*]);
}

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant icon (& svg);
@custom-variant scrollbar (&::-webkit-scrollbar);
@custom-variant scrollbar-thumb (&::-webkit-scrollbar-thumb);
@custom-variant scrollbar-track (&::-webkit-scrollbar-track);
@custom-variant aria-asc (&[aria-sort="ascending"]);
@custom-variant aria-desc (&[aria-sort="descending"]);
@custom-variant aria-page (&[aria-current="page"]);
@custom-variant tiptap (& .tiptap);
