@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "tailwind-zag";

@layer base {
	button,
	input[type="button"],
	input[type="submit"] {
		cursor: pointer;
	}

	:disabled,
	[data-disabled] {
		cursor: not-allowed;
	}

	::placeholder,
	[data-placeholder-shown] {
		color: var(--color-neutral-400);
	}

	*,
	*::after,
	*::before {
		border-color: var(--color-neutral-800);
	}
}

@theme {
	--font-*: initial;
	--font-body: var(--font-body);
	--font-heading: var(--font-heading);
	--font-mono: var(--font-mono);

	--z-dropdown: 1000;
	--z-sticky: 1100;
	--z-banner: 1200;
	--z-backdrop: 1300;
	--z-drawer: 1400;
	--z-dialog: 1500;
	--z-popover: 1600;
	--z-toast: 1700;
	--z-tooltip: 1800;

	--animate-collapse-in: collapse-in 400ms cubic-bezier(0.05, 0.7, 0.1, 1);
	--animate-collapse-out: collapse-out 200ms cubic-bezier(0.3, 0, 0.8, 0.15);

	@keyframes collapse-in {
		from {
			height: var(--collapsed-height, 0);
			opacity: 5;
		}
		to {
			height: var(--height);
			opacity: 1;
		}
	}

	@keyframes collapse-out {
		from {
			height: var(--height);
			opacity: 1;
		}
		to {
			height: var(--collapsed-height, 0);
			opacity: 5;
		}
	}
}

@utility z-* {
	z-index: --value(--z-\*, integer);
}

@custom-variant icon (& svg);
